html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter-Medium", "Inter", sans-serif, Inter, Inter Placeholder, sans-serif;
}

/* PAGE LOGIN */

.Shellogin {
    display: flex;
    flex-direction: column;
    margin: 18em;
    padding-left: 25em;
    padding-right: 25em;
}

.Shellogin__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1.2em;
    color: #204646;
}

.Shellogin__email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellogin__password {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellogin__btnlogin {
    height: 3em;
    /* background-color: #CEE8E8; */
    font-size: 1.3em;
    background-color: #EEF7F7;
    border: 2px solid #CEE8E8;
    color: #204646;
    cursor: pointer;
}

.Shellogin__btnlogin:hover {
    background-color: #CEE8E8;
}

/* PAGE LOGIN */

/* PAGE INSCRIPTION */

.Shellregister {
    display: flex;
    flex-direction: column;
    margin: 15em;
    padding-left: 25em;
    padding-right: 25em;
}

.Shellregister__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1em;
    color: #204646;
}

.Shellregister__name {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellregister__surname {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellregister__email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellregister__password {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.Shellregister__btnregister {
    height: 3em;
    /* background-color: #CEE8E8; */
    font-size: 1.3em;
    background-color: #EEF7F7;
    border: 2px solid #CEE8E8;
    color: #204646;
    cursor: pointer;
}

.Shellregister__btnregister:hover {
    background-color: #CEE8E8;
}

/* PAGE INSCRIPTION */