html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter-Medium", "Inter", sans-serif, Inter, Inter Placeholder, sans-serif;
    height: 100%;
    overflow: hidden; /* Empêche le débordement global */
}

/* PAGE LOGIN */

.Shellogin {
    display: flex;
    flex-direction: column;
    margin: 16em;
    padding-left: 25em;
    padding-right: 25em;
}

.Shellogin__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1.2em;
    color: #204646;
}

.Shellogin__email {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellogin__btnlogin {
    height: 3em;
    font-size: 1.3em;
    background-color: #F3F9FF;
    border: 2px solid #F3F9FF;
    color: #204646;
    cursor: pointer;
}

.Shellogin__btnlogin:hover {
    background-color: #F3F9FF;
}

/* PAGE LOGIN */

/* PAGE INSCRIPTION */

.Shellregister {
    display: flex;
    flex-direction: column;
    margin: 15em;
    padding-left: 25em;
    padding-right: 25em;
}

.Shellregister__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1em;
    color: #204646;
}

.Shellregister__username {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellregister__email {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellregister__btnregister {
    height: 3em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #F3F9FF;
    border: 2px solid #F3F9FF;
    color: #204646;
    cursor: pointer;
}

.Shellregister__btnregister:hover {
    background-color: #F3F9FF;
}

/* PAGE INSCRIPTION */

/* PAGE DASHBOARD */

.ShellDashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement de ShellDashboard */
}

.ShellDashboard__sidebar {
    flex: 1;
    border-right: 2px solid #E5E9F0;
    display: flex;
    flex-direction: column;
}

.ShellDashboard__sidebar-header {
    flex: 1;
    border-bottom: 2px solid #F3F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3056D3;
}

.ShellDashboard__sidebar-header-title {
    font-size: 1.5em;
    text-align: center;
    color: #204646;
}

.ShellDashboard__sidebar-content {
    flex: 11;
}

.SidebarContent__navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.noDecor {
    text-decoration: none;
}

.SidebarContent__navigation-element {
    cursor: pointer;
    color: #204646;
    padding: 1em;
}

.SidebarContent__navigation-element:hover {
    background-color: #F3F9FF;
}

.ShellDashboard__content {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.ShellDashboard__content-header {
    flex: 1;
    border-bottom: 2px solid #E5E9F0;
}

.ContentHeader {
    display: flex;
    flex-direction: row;
}

.ContentHeader__colonneLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ContentHeader__colonneLeft-title {
    margin-left: 1em;
    color: #204646;
    font-size: 1.3em;
}

.ContentHeader__colonneRight {
    flex: 1;
}

.ContentHeader__colonneRight-navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ContentHeader__colonneRight-navigation-element {
    padding: 0.8em;
    margin-right: 0.5em;
    cursor: pointer;
    color: #204646;
}

.ContentHeader__colonneRight-navigation-element:hover {
    background-color: #F3F9FF;
    border-radius: 10px;
}

.ShellDashboard__content-body {
    flex: 11;
    height: calc(100% - 2em);
    background-color: #F2F8FE;
}

.ContentBody__row {
    display: grid;
    /* define the number of grid columns */
    grid-template-columns: repeat(auto-fill, 24.5%);
    padding: 0.5em;
    gap: 0.5em;
}

.ContentBody__row-card {
    background-color: white;
    border: 2px solid #E5E9F0;
    min-height: 150px;
    height: auto;
    max-height: 250px;
    padding: 0.5em;
}

.ContentBody__row-card-counter {
    font-size: 3em;
}

.ContentBody__row-card-title {
    font-size: 2em;
}

.ContentBody__row-card-infos {
    margin-top: 1em;
    text-align: justify;
    margin-right: 3em;
}

/* PAGE DASHBOARD */

/* PAGE PROFIL */

.ContentBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* margin: 8em;
    padding-left: 15em;
    padding-right: 15em; */
}

.ContentBody__colonneUn {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5em;
    border-right: 2px solid #F3F9FF;
    /* background-color: #204646; */
}

.ContentBody__colonneUn-label-username {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneUn-input-username {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.ContentBody__colonneUn-label-email {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneUn-input-email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em; 
}

.ContentBody__colonneUn-btnmdf {
    height: 3em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #EEF7F7;
    border: 2px solid #F3F9FF;
    color: #204646;
    cursor: pointer;
}

.ContentBody__colonneUn-btnmdf:hover {
    background-color: #F3F9FF;
}

.ContentBody__colonneDeux {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.ContentBody__colonneDeux-label-email {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneDeux-input-email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em; 
}

.ContentBody__colonneDeux-btnmdf {
    height: 3em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #EEF7F7;
    border: 2px solid #F3F9FF;
    color: #204646;
    cursor: pointer;
}

.ContentBody__colonneDeux-btnmdf:hover {
    background-color: #F3F9FF;
}

.ContentBody__colonneDeux-confirmation {
    padding: 0.25em;
}

.account-status-danger {
    border-radius: 15px;
    background-color: red;
    color: white;
}

.account-status-success {
    border-radius: 15px;
    background-color: #204646;
    color: white;
}

/* PAGE PROFIL */

/* PAGE MES PROPRIETES */

.ContentBodyPropriete {
    height: calc(100% - 2em);
}

.ContentBodyPropriete__colonneUn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
}

.ContentBodyPropriete__colonneUn-btnPropriete {
    margin-right: 1em; 
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #3056D3;
    border: 1px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyPropriete__colonneDeux {
    flex: 10;
    padding: 1em;
    height: 100%;
    overflow-y: auto;
}

.cardPropriete {
    background-color: white;
    border: 2px solid #E5E9F0;
    padding: 1.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 8%;
    cursor: pointer;
    color:black;
}

.cardPropriete:hover {
    background-color: #F3F9FF;
}

.cardPropriete__label-id {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-image {
    display: flex;
    align-items: center;
    justify-content: center;     
}

.cardPropriete__label-name {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cardPropriete__label-surname {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-adresse {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-codepostal {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-ville {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-visite {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* PAGE MES PROPRIETES */

/* PAGE ADD PROPRIETE */

.ContentBodyADDPropriete {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.ContentBodyADDPropriete__label-name {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-name {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.5em;
}

.ContentBodyADDPropriete__label-surname {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-surname {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-type {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__select-type {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-adresse {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-adresse {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-codepostal {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-codepostal {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;  
}

.ContentBodyADDPropriete__label-ville {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-ville {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;  
}

.ContentBodyADDPropriete__btnadd {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #EEF7F7;
    border: 2px solid #F3F9FF;
    color: #204646;
    cursor: pointer;
}

.ContentBodyADDPropriete__btnadd:hover {
    background-color: #F3F9FF;
}

/* PAGE ADD PROPRIETE */

/* PAGE VOIR PROPRIETE */

.ContentBodyVoirPropriete {
    padding: 1em;
}

.ContentBodyVoirPropriete__content {
    display: flex;
    flex-direction: row;
}

.ContentBodyVoirPropriete__content-colonneUn {
    flex: 1;
    display: flex;
}

.ContentBodyVoirPropriete__content-colonneDeux {
    flex: 1;
    padding: 2.5em;
}

.ContentColonneUn__label-content {
    padding: 1.5em;
}

.ContentColonneUn__label-fullname {
    padding-bottom: 0.5em;
}

/* PAGE VOIR PROPRIETE */