html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter-Medium", "Inter", sans-serif, Inter, Inter Placeholder, sans-serif;
    height: 100%;
    overflow: hidden; /* Empêche le débordement global */
}

/* LOADER */
.ShellLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement de ShellDashboard */
}
/* LOADER */

/* PAGE LOGIN */

.Shellogin {
    display: flex;
    flex-direction: column;
    margin: 15em;
    padding-left: 30em;
    padding-right: 30em;
}

.Shellogin__image {
    text-align: center;
}

.Shellogin__form {
    display: flex;
    flex-direction: column;
}

.Shellogin__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #204646;
}

.Shellogin__email {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellogin__btnlogin {
    height: 2.5em;
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.Shellogin__btnlogin:hover {
    background-color: #3056D3;
}

/* PAGE LOGIN */

/* PAGE CODE */

.ShellCode {
    display: flex;
    flex-direction: column;
    margin: 15em;
    padding-left: 30em;
    padding-right: 30em;
}

.ShellCode__image {
    text-align: center;
}

.ShellCode__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #204646;
}

.ShellCode__email {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.ShellCode__btnlogin {
    height: 2.5em;
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ShellCode__btnlogin:hover {
    background-color: #3056D3;
}

/* PAGE CODE */

/* PAGE INSCRIPTION */

.Shellregister {
    display: flex;
    flex-direction: column;
    margin: 15em;
    padding-left: 30em;
    padding-right: 30em;
}

.Shellregister__image {
    text-align: center;
}

.Shellregister__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #204646;
}

.Shellregister__username {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellregister__email {
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: 1.2em;
}

.Shellregister__btnregister {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.Shellregister__btnregister:hover {
    background-color: #3056D3;
}

/* PAGE INSCRIPTION */

/* PAGE DASHBOARD */

.ShellDashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement de ShellDashboard */
}

.ShellDashboard__sidebar {
    flex: 1;
    border-right: 2px solid #E5E9F0;
    display: flex;
    flex-direction: column;
}

.ShellDashboard__sidebar-header {
    flex: 1;
    border-bottom: 2px solid #F3F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3056D3;
}

.ShellDashboard__sidebar-header-title {
    font-size: 1.5em;
    text-align: center;
    color: #204646;
}

.ShellDashboard__sidebar-content {
    flex: 11;
}

.SidebarContent__navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.noDecor {
    text-decoration: none;
}

.SidebarContent__navigation-element {
    cursor: pointer;
    color: #204646;
    padding: 1em;
}

.SidebarContent__navigation-element:hover {
    background-color: #F3F9FF;
}

.ShellDashboard__content {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.ShellDashboard__content-header {
    flex: 1;
    border-bottom: 2px solid #E5E9F0;
}

.ContentHeader {
    display: flex;
    flex-direction: row;
}

.ContentHeader__colonneLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ContentHeader__colonneLeft-title {
    margin-left: 1em;
    color: #204646;
    font-size: 1.3em;
}

.ContentHeader__colonneRight {
    flex: 1;
}

.ContentHeader__colonneRight-navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ContentHeader__colonneRight-navigation-element {
    padding: 0.8em;
    margin-right: 0.5em;
    cursor: pointer;
    color: #204646;
}

.ContentHeader__colonneRight-navigation-element:hover {
    background-color: #F3F9FF;
    border-radius: 10px;
}

.ShellDashboard__content-body {
    flex: 11;
    height: calc(100% - 2em);
    background-color: #F2F8FE;
}

.ContentBody__row {
    display: grid;
    /* define the number of grid columns */
    grid-template-columns: repeat(auto-fill, 24.5%);
    padding: 0.5em;
    gap: 0.5em;
}

/* PAGE DASHBOARD */

/* PAGE PROFIL */

.ContentBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* margin: 8em;
    padding-left: 15em;
    padding-right: 15em; */
}

.ContentBody__colonneUn {
    flex: 1;
    padding: 2.5em;
    border-right: 2px solid #F3F9FF;
    /* background-color: #204646; */
}

.ContentBody__colonneUn-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.UpdateAccountForm {
    display: flex;
    flex-direction: column;
}

.ContentBody__colonneUn-label-username {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneUn-input-username {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em;
}

.ContentBody__colonneUn-label-email {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneUn-input-email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em; 
}

.ContentBody__colonneUn-label-email {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBody__colonneUn-input-email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.2em; 
}

.ContentBody__colonneUn-btnmdf {
    height: 3em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBody__colonneUn-btnmdf:hover {
    background-color: #3056D3;
}

.ContentBody__colonneUn-btnconfirmed {
    background-color: #3056D3;
    border: 1px solid #3056D3;
    padding: 1.5em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.ContentBody__colonneUn-btndelete {
    background-color: red;
    border: 1px solid red;
    padding: 1.5em;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.ContentBody__colonneDeux {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.ContentBody__colonneDeux-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.ContentBody__colonneDeux-confirmation {
    padding: 0.25em;
}

.account-status-danger {
    border-radius: 15px;
    background-color: red;
    color: white;
}

.account-status-success {
    border-radius: 15px;
    background-color: #3056D3;
    color: white;
}

/* PAGE PROFIL */

/* PAGE MES PROPRIETES */

.ContentBodyPropriete {
    height: calc(100% - 2em);
}

.ContentBodyPropriete__colonneUn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
}

.ContentBodyPropriete__colonneUn-btnPropriete {
    margin-right: 1em; 
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #3056D3;
    border: 1px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyPropriete__colonneDeux {
    flex: 10;
    padding: 1em;
    height: 100%;
    overflow-y: auto;
}

.cardPropriete {
    background-color: white;
    border: 2px solid #E5E9F0;
    padding: 1.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 8%;
    cursor: pointer;
    color:black;
}

.cardPropriete:hover {
    background-color: #F3F9FF;
}

.cardPropriete__label-id {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-image {
    display: flex;
    align-items: center;
    justify-content: center;     
}

.cardPropriete__label-name {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cardPropriete__label-surname {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-adresse {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-codepostal {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-ville {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cardPropriete__label-visite {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* PAGE MES PROPRIETES */

/* PAGE ADD PROPRIETE */

.ContentBodyADDPropriete {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.ContentBodyADDPropriete__label-name {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-name {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.5em;
}

.ContentBodyADDPropriete__label-surname {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-surname {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-type {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__select-type {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-adresse {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-adresse {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;
}

.ContentBodyADDPropriete__label-codepostal {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-codepostal {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;  
}

.ContentBodyADDPropriete__label-ville {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDPropriete__input-ville {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1em;  
}

.ContentBodyADDPropriete__btnadd {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyADDPropriete__btnadd:hover {
    background-color: #3056D3;
}

/* PAGE ADD PROPRIETE */

/* PAGE VOIR PROPRIETE */

.ContentBodyVoirPropriete {
    padding: 1em;
}

.ContentBodyVoirPropriete__content {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.ContentBodyVoirPropriete__content-colonneUn {
    flex: 1;
}

.ContentColonneUn__Card {
    display: flex;
    background-color: white;
}

.ContentColonneUn__label-image {
    padding-top: 0.5em;
    padding-left: 1em;
}

.ContentBodyVoirPropriete__content-colonneDeux {
    flex: 1;
}

.ContentColonneUn__btn-enableqr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background-color: #204646;
    border: 1px solid #204646;
    color: white;
}

.ContentColonneUn__btn-disableqr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background-color: red;
    border: 1px solid red;
    color: white;
}

.ContentColonneDeux__Card {
    display: flex;
    background-color: white;
}

.ContentColonneDeux__label-image {
    padding-left: 1.2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.ContentColonneDeux__label-content {
    padding-top: 2.5em;
    padding-left: 2.5em;
}

.ContentColonneDeux__label-visite-total {
    margin-bottom: 1em;
}

.ContentColonneDeux__label-etat-qrcode {
    padding: 0.5em;
}

.state-activate {
    background-color: #204646;
    color: white;
}

.state-desactivate {
    background-color: red;
    color: white;
}

.ContentColonneUn__label-content {
    padding: 1.5em;
}

.ContentColonneUn__label-fullname {
    padding-bottom: 0.5em;
}

.ContentColonneDeux__btn-alerte {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background-color: #3056D3;
    border: 1px solid #3056D3;
    color: white;
}

.ContentBodyDataVisite {
    padding-top: 1em;
    min-height: 65vh;
    max-height: 65vh;
    overflow-y: auto;
}

.cardVisite {
    background-color: white;
    border: 2px solid #E5E9F0;
    padding: 1.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.2%);
    /* gap: 5px; */
    cursor: pointer;
    color:black;
}

.cardVisite:hover {
    background-color: #F3F9FF;
}

.cardVisite__label-id {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardVisite__label-image {
    display: flex;
    align-items: center;
    /* justify-content: center;      */
}

.cardVisite__label-date {
    display: flex;
    align-items: center;
    /* justify-content: center;     */
}

.cardVisite__label-heure {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardVisite__label-name {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardVisite__label-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardVisite__label-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.state-activate-write {
    color: #204646;
}

.state-desactivate-write {
    color: red;
}

.cardVisite__label-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PAGE VOIR PROPRIETE */

/* PAGE GESTION DES ALERTES */

.ContentBodyAlerte {
    height: calc(100% - 2em);
}

.ContentBodyAlerte__colonneUn {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.ContentBodyAlerte__colonneUn-cUn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ContentBodyAlerte__colonneUn-btnBack {
    margin-left: 0.5em; 
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #3056D3;
    border: 1px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyAlerte__colonneUn-cDeux {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ContentBodyAlerte__select-type {
    padding: 0.9em;
}

.ContentBodyAlerte__colonneUn-btn {
    margin-right: 0.5em; 
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #3056D3;
    border: 1px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyAlerte__colonneDeux {
    flex: 10;
    padding: 1em;
    height: 100%;
    overflow-y: auto;
}

.cardAlerte {
    background-color: white;
    border: 2px solid #E5E9F0;
    padding: 1.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    cursor: pointer;
    color:black;
}

.cardAlerte:hover {
    background-color: #F3F9FF;
}

.cardAlerte__label-id {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardAlerte__label-logo {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardAlerte__label-type {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardAlerte__label-informations {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardAlerte__label-etat {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

.cardAlerte__label-action {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}

/* PAGE GESTION DES ALERTES */

/* PAGE AJOUT ALERTE */

.ContentBodyADDAlertEmail {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ContentBodyADDAlertEmail__label-email {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDAlertEmail__input-email {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.5em;
}

.ContentBodyADDAlertEmail__btnAddEmail {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyADDAlertEmail__btnAddEmail:hover {
    background-color: #3056D3;
}

.ContentBodyADDAlertEmail__btnGoBack {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
}

.ContentBodyADDAlertEmail__btnGoBack:hover {
    background-color: #3056D3;
}

.ContentBodyADDAlertDiscord {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ContentBodyADDAlertDiscord__label-discord {
    margin-bottom: 0.5em;
    color: #204646;
}

.ContentBodyADDAlertDiscord__input-discord {
    height: 2.5em;
    border: 2px solid #204646;
    margin-bottom: 1.5em;
}

.ContentBodyADDAlertDiscord__btnAddDiscord {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
}

.ContentBodyADDAlertDiscord__btnAddDiscord:hover {
    background-color: #3056D3;
}

.ContentBodyADDAlertDiscord__btnGoBack {
    height: 2.5em;
    /* background-color: #F3F9FF; */
    font-size: 1.3em;
    background-color: #3056D3;
    border: 2px solid #3056D3;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
}

.ContentBodyADDAlertDiscord__btnGoBack:hover {
    background-color: #3056D3;
}

/* PAGE AJOUT ALERTE */

/* PAGE DE SCAN */

.ShellScan {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement de ShellDashboard */
}

.ShellScan__Header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
}

.ShellScan__Body {
    flex: 10;
    background-color: #F2F8FE;
    display: flex;
    flex-direction: column;
}

.ShellScan__Body-Title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3056D3;
    color: white;
    font-size: 1.5em;
}

.ShellScan__Body-Content {
    flex: 11;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40em;
    padding-right: 40em;
}

.ShellScan__Body-Content-label {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.ShellBody__Body-Content-input-name {
    height: 2em;
    margin-bottom: 1em;
}

.ShellBody__Body-Content-input-telephone {
    height: 2em;
    margin-bottom: 1em;
}

.ShellScan__Body-Content-infos {
    margin-top: 10px;
    margin-bottom: 1em;
}

.ShellScan__Body-Content-Canaux {
    height: 2em;
    margin-bottom: 1em;
}

.ShellScan__Body-Content-infospub {
    margin-top: 10px;
    margin-bottom: 1em;
    text-align: center;
}

.ShellScan__Footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
}

.ShellScan__Footer-desactivatebtn {
    background-color: red;
    color: white;
    cursor: no-drop;
}

.ShellScan__Footer-disablebtn {
    background-color: grey;
    color: black;
}

.ShellScan__Footer-enablebtn {
    background-color: #3056D3;
    color: white;
}

/* PAGE DE SCAN */

/* PAGE EDITEUR */

.ShellEditeur {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ShellEditeur__left {
    flex: 3;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sticker {
    border: 1px solid black;
    width: 500px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Sticker__text {
    font-size: 1.5em;
    font-weight: bold;
    color:#3056D3;
}

.Sticker__subtext {
    font-size: 2em;
    font-weight: bold;
    color:black;
}

.Sticker__qrcode {
    width: 300px; 
    height: 250px;
}

.Sticker__separation {
    width: 10%;
    border-bottom: 4px solid #3056D3; 
}

.Sticker__logo {
    width: 200px;
}

.Sticker__signature {
    color: black;
}

.ShellEditeur__right {
    flex: 1;
    background-color: white;
    border-left: 2px solid #E5E9F0;
}

/* PAGE EDITEUR */